body {
  text-align: center;
  font-family: Helvetica, san-serif;
}



#copyright {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.hero h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
  font-weight: bold;
}

#newyork {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(/Users/christiangarcia/Desktop/Projects/broadway/resources/images/head.png);

}

a {
  font-size: 18px;
  color: white;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
